In [1]:
import pandas as pd

In [2]:
covid_df = pd.read_csv('covid19_italy_region.csv')

In [3]:
type(covid_df)

pandas.core.frame.DataFrame

In [4]:
covid_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6023,6023,2020-12-06T17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,27587,29199,753,76331,2867,108397,983103.0
6024,6024,2020-12-06T17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,5673,6065,234,18619,460,25144,231538.0
6025,6025,2020-12-06T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,877,987,34,5406,333,6726,34644.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [5]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6027 entries, 0 to 6026
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SNo                        6027 non-null   int64
 1   Date                       6027 non-null   object
 2   Country                    6027 non-null   object
 3   RegionCode                 6027 non-null   int64
 4   RegionName                 6027 non-null   object
 5   Latitude                   6027 non-null   float64
 6   Longitude                  6027 non-null   float64
 7   HospitalizedPatients       6027 non-null   int64
 8   IntensiveCarePatients      6027 non-null   int64
 9   TotalHospitalizedPatients  6027 non-null   int64
 10  HomeConfinement            6027 non-null   int64
 11  CurrentPositiveCases       6027 non-null   int64
 12  NewPositiveCases           6027 non-null   int64
 13  Recovered                  6027 non-null   int64
 14  Deaths                     6027 non-null   int64
 15  TotalPositiveCases         6027 non-null   int64
 16  TestsPerformed             4872 non-null   float64
dtypes: float64(3), int64(11), object(3)
memory usage: 800.6+ KB

In [6]:
covid_df.describe()

,SNo,RegionCode,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
count,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.000000,6027.00000,4.872000e+03
mean,3013.000000,11.857143,43.046293,12.225955,509.093579,55.892318,564.985897,5722.911399,6287.897296,286.885847,9337.852829,1474.370665,17100.12361,2.600810e+05
std,1739.989368,6.274319,2.488987,2.659168,1272.731157,134.957979,1403.362341,15892.768789,16804.884786,818.450458,20551.265039,3365.190225,36934.67627,3.339818e+05
min,0.000000,1.000000,38.115697,7.320149,0.000000,0.000000,0.000000,0.000000,0.000000,-229.000000,0.000000,0.000000,0.00000,3.482000e+03
25%,1506.500000,7.000000,41.125596,11.121231,16.000000,1.000000,17.000000,139.000000,168.000000,4.000000,734.000000,98.000000,1383.50000,6.507375e+04
50%,3013.000000,12.000000,43.616760,12.388247,93.000000,9.000000,106.000000,743.000000,905.000000,31.000000,2840.000000,389.000000,4613.00000,1.365560e+05
75%,4519.500000,17.000000,45.434905,13.768136,384.500000,46.000000,434.000000,3057.000000,3735.000000,159.500000,8450.500000,1102.500000,15304.00000,3.043542e+05
max,6026.000000,22.000000,46.499335,16.867367,12077.000000,1381.000000,13328.000000,155066.000000,164406.000000,11489.000000,289706.000000,23024.000000,429109.00000,2.415099e+06

In [ ]:
covid_df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [7]:
covid_df.shape

(6027, 17)

In [9]:
covid_df['NewPositiveCases']

0          0
1          0
2          0
3          0
4         18
        ...
6022    1022
6023     753
6024     234
6025      34
6026    3444
Name: NewPositiveCases, Length: 6027, dtype: int64

In [10]:
type(covid_df['NewPositiveCases'])

pandas.core.series.Series

In [11]:
covid_df['NewPositiveCases'][246]

3

In [12]:
covid_df['NewPositiveCases'][240]

35

In [13]:
covid_df.at[246, 'NewPositiveCases']

3

In [14]:
covid_df.at[240, 'NewPositiveCases']

35

In [15]:
covid_df.NewPositiveCases

0          0
1          0
2          0
3          0
4         18
        ...
6022    1022
6023     753
6024     234
6025      34
6026    3444
Name: NewPositiveCases, Length: 6027, dtype: int64

In [17]:
cases_df = covid_df[['Date', 'NewPositiveCases']]
cases_df

                     Date  NewPositiveCases
0     2020-02-24T18:00:00                 0
1     2020-02-24T18:00:00                 0
2     2020-02-24T18:00:00                 0
3     2020-02-24T18:00:00                 0
4     2020-02-24T18:00:00                18
...                   ...               ...
6022  2020-12-06T17:00:00              1022
6023  2020-12-06T17:00:00               753
6024  2020-12-06T17:00:00               234
6025  2020-12-06T17:00:00                34
6026  2020-12-06T17:00:00              3444

[6027 rows x 2 columns]

In [18]:
covid_df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [ ]:
covid_df_copy = covid_df.copy()

In [19]:
covid_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6023,6023,2020-12-06T17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,27587,29199,753,76331,2867,108397,983103.0
6024,6024,2020-12-06T17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,5673,6065,234,18619,460,25144,231538.0
6025,6025,2020-12-06T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,877,987,34,5406,333,6726,34644.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [20]:
covid_df.loc[243]

SNo                                          243
Date                         2020-03-06T17:00:00
Country                                      ITA
RegionCode                                    22
RegionName                           P.A. Trento
Latitude                               46.068935
Longitude                              11.121231
HospitalizedPatients                           4
IntensiveCarePatients                          0
TotalHospitalizedPatients                      4
HomeConfinement                                6
CurrentPositiveCases                          10
NewPositiveCases                               3
Recovered                                      0
Deaths                                         0
TotalPositiveCases                            10
TestsPerformed                               NaN
Name: 243, dtype: object

In [21]:
type(covid_df.loc[243])

pandas.core.series.Series

In [22]:
covid_df.head(5)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN

In [23]:
covid_df.tail(4)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
6023,6023,2020-12-06T17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,27587,29199,753,76331,2867,108397,983103.0
6024,6024,2020-12-06T17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,5673,6065,234,18619,460,25144,231538.0
6025,6025,2020-12-06T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,877,987,34,5406,333,6726,34644.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [25]:
covid_df.at[0, 'TestsPerformed']

nan

In [26]:
type(covid_df.at[0, 'TestsPerformed'])

numpy.float64

In [27]:
covid_df.TestsPerformed.first_valid_index()

1155

In [28]:
covid_df.loc[108:113]

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
108,108,2020-02-29T17:00:00,ITA,15,Campania,40.839566,14.250850,3,0,3,10,13,9,0,0,13,NaN
109,109,2020-02-29T17:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,86,11,97,116,213,72,0,4,217,NaN
110,110,2020-02-29T17:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,NaN
111,111,2020-02-29T17:00:00,ITA,12,Lazio,41.892770,12.483667,3,0,3,0,3,3,3,0,6,NaN
112,112,2020-02-29T17:00:00,ITA,7,Liguria,44.411493,8.932699,4,1,5,33,38,23,4,0,42,NaN
113,113,2020-02-29T17:00:00,ITA,3,Lombardia,45.466794,9.190347,256,80,336,216,552,84,40,23,615,NaN

In [29]:
covid_df.sample(10)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
2343,2343,2020-06-14T17:00:00,ITA,22,P.A. Trento,46.068935,11.121231,5,1,6,60,66,1,3917,464,4447,55054.0
3633,3633,2020-08-15T17:00:00,ITA,13,Abruzzo,42.351222,13.398438,25,1,26,226,252,13,2834,472,3558,91060.0
500,500,2020-03-18T17:00:00,ITA,9,Toscana,43.769231,11.255889,427,160,587,704,1291,277,17,22,1330,NaN
4850,4850,2020-10-11T17:00:00,ITA,5,Veneto,45.434905,12.338452,238,24,262,5826,6088,438,23197,2218,31503,806051.0
1552,1552,2020-05-07T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,49,2,51,79,130,4,881,139,1150,6702.0
2666,2666,2020-06-29T17:00:00,ITA,5,Veneto,45.434905,12.338452,17,1,18,444,462,3,16808,2008,19278,406042.0
4941,4941,2020-10-16T17:00:00,ITA,12,Lazio,41.892770,12.483667,1004,98,1102,11215,12317,795,9473,1006,22796,901184.0
4520,4520,2020-09-26T17:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,18,6,24,694,718,54,3512,350,4580,178499.0
1983,1983,2020-05-28T17:00:00,ITA,11,Marche,43.616760,13.518875,79,13,92,1254,1346,1,4376,997,6719,63611.0
2298,2298,2020-06-12T17:00:00,ITA,11,Marche,43.616760,13.518875,22,0,22,728,750,1,5009,993,6752,72169.0

In [30]:
covid_df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [35]:
total_cases = covid_df.CurrentPositiveCases.sum()
total_deaths = covid_df.Deaths.sum()

In [36]:
print('The number of reported cases is {} and the number of reported deaths is {}.'.format(int(total_cases), int(total_deaths)))

The number of reported cases is 37897157 and the number of reported deaths is 8886032.

In [37]:
death_rate = covid_df.Deaths.sum() / covid_df.CurrentPositiveCases.sum()

In [38]:
print("The overall reported death rate in Italy is {:.2f} %.".format(death_rate*100))

The overall reported death rate in Italy is 23.45 %.

In [39]:
initial_tests = 935310
total_tests = initial_tests + covid_df.TestsPerformed.sum()

In [40]:
total_tests

1268050100.0

In [41]:
positive_rate = total_cases / total_tests

In [42]:
print('{:.2f}% of tests in Italy led to a positive diagnosis.'.format(positive_rate*100))

2.99% of tests in Italy led to a positive diagnosis.

In [43]:
covid_df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [44]:
high_new_cases = covid_df.NewPositiveCases > 1000

In [45]:
high_new_cases

0       False
1       False
2       False
3       False
4       False
        ...
6022     True
6023    False
6024    False
6025    False
6026     True
Name: NewPositiveCases, Length: 6027, dtype: bool

In [46]:
covid_df[high_new_cases]

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
302,302,2020-03-09T18:00:00,ITA,3,Lombardia,45.466794,9.190347,2802,440,3242,1248,4490,1280,646,333,5469,NaN
344,344,2020-03-11T17:00:00,ITA,3,Lombardia,45.466794,9.190347,3852,560,4412,1351,5763,1489,900,617,7280,NaN
365,365,2020-03-12T17:00:00,ITA,3,Lombardia,45.466794,9.190347,4247,605,4852,2044,6896,1445,1085,744,8725,NaN
386,386,2020-03-13T17:00:00,ITA,3,Lombardia,45.466794,9.190347,4435,650,5085,2647,7732,1095,1198,890,9820,NaN
407,407,2020-03-14T17:00:00,ITA,3,Lombardia,45.466794,9.190347,4898,732,5630,3429,9059,1865,1660,966,11685,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2020-12-06T17:00:00,ITA,3,Lombardia,45.466794,9.190347,6372,807,7179,109200,116379,2413,289706,23024,429109,2415099.0
6019,6019,2020-12-06T17:00:00,ITA,1,Piemonte,45.073274,7.680687,4239,359,4598,61440,66038,1269,105127,6623,177788,1000611.0
6020,6020,2020-12-06T17:00:00,ITA,16,Puglia,41.125596,16.867367,1613,203,1816,44018,45834,1789,16795,1712,64341,567857.0
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [47]:
high_cases_df = covid_df[covid_df.NewPositiveCases > 1000]

In [48]:
high_cases_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
302,302,2020-03-09T18:00:00,ITA,3,Lombardia,45.466794,9.190347,2802,440,3242,1248,4490,1280,646,333,5469,NaN
344,344,2020-03-11T17:00:00,ITA,3,Lombardia,45.466794,9.190347,3852,560,4412,1351,5763,1489,900,617,7280,NaN
365,365,2020-03-12T17:00:00,ITA,3,Lombardia,45.466794,9.190347,4247,605,4852,2044,6896,1445,1085,744,8725,NaN
386,386,2020-03-13T17:00:00,ITA,3,Lombardia,45.466794,9.190347,4435,650,5085,2647,7732,1095,1198,890,9820,NaN
407,407,2020-03-14T17:00:00,ITA,3,Lombardia,45.466794,9.190347,4898,732,5630,3429,9059,1865,1660,966,11685,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,2020-12-06T17:00:00,ITA,3,Lombardia,45.466794,9.190347,6372,807,7179,109200,116379,2413,289706,23024,429109,2415099.0
6019,6019,2020-12-06T17:00:00,ITA,1,Piemonte,45.073274,7.680687,4239,359,4598,61440,66038,1269,105127,6623,177788,1000611.0
6020,6020,2020-12-06T17:00:00,ITA,16,Puglia,41.125596,16.867367,1613,203,1816,44018,45834,1789,16795,1712,64341,567857.0
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [49]:
positive_rate

0.029886166958229803

In [51]:
covid_df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [54]:
high_ratio_df = covid_df[covid_df.CurrentPositiveCases / covid_df.TestsPerformed > positive_rate]

In [55]:
high_ratio_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
1155,1155,2020-04-19T17:00:00,ITA,13,Abruzzo,42.351222,13.398438,317,40,357,1630,1987,34,276,258,2521,22424.0
1156,1156,2020-04-19T17:00:00,ITA,17,Basilicata,40.639471,15.805148,59,8,67,180,247,3,71,24,342,6528.0
1157,1157,2020-04-19T17:00:00,ITA,18,Calabria,38.905976,16.594402,142,6,148,696,844,24,116,75,1035,22234.0
1158,1158,2020-04-19T17:00:00,ITA,15,Campania,40.839566,14.250850,590,61,651,2371,3022,41,703,304,4029,34994.0
1159,1159,2020-04-19T17:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,3166,289,3455,10097,13552,376,5985,3023,22560,88776.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6019,6019,2020-12-06T17:00:00,ITA,1,Piemonte,45.073274,7.680687,4239,359,4598,61440,66038,1269,105127,6623,177788,1000611.0
6020,6020,2020-12-06T17:00:00,ITA,16,Puglia,41.125596,16.867367,1613,203,1816,44018,45834,1789,16795,1712,64341,567857.0
6021,6021,2020-12-06T17:00:00,ITA,20,Sardegna,39.215312,9.110616,616,64,680,14280,14960,293,8695,531,24186,333552.0
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0

In [56]:
covid_df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [57]:
covid_df.NewPositiveCases / covid_df.TestsPerformed

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
6022    0.001477
6023    0.000766
6024    0.001011
6025    0.000981
6026    0.003157
Length: 6027, dtype: float64

In [61]:
covid_df['positive_rate'] = covid_df.NewPositiveCases / covid_df.TestsPerformed

In [62]:
covid_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed,positive_rate
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,38166,39746,1022,29984,1759,71489,692062.0,0.001477
6023,6023,2020-12-06T17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,27587,29199,753,76331,2867,108397,983103.0,0.000766
6024,6024,2020-12-06T17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,5673,6065,234,18619,460,25144,231538.0,0.001011
6025,6025,2020-12-06T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,877,987,34,5406,333,6726,34644.0,0.000981
6026,6026,2020-12-06T17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,73988,76804,3444,84235,4210,165249,1090932.0,0.003157

In [63]:
covid_df.drop(columns=['positive_rate'], inplace=True)

In [64]:
covid_df.sort_values('NewPositiveCases', ascending=False).head(10)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
5405,5405,2020-11-07T17:00:00,ITA,3,Lombardia,45.466794,9.190347,5813,610,6423,121206,127629,11489,108581,18226,254436,1981508.0
5468,5468,2020-11-10T17:00:00,ITA,3,Lombardia,45.466794,9.190347,6682,708,7390,128115,135505,10955,122410,18571,276486,2039672.0
5531,5531,2020-11-13T17:00:00,ITA,3,Lombardia,45.466794,9.190347,7319,801,8120,143149,151269,10634,134294,19028,304591,2115026.0
5384,5384,2020-11-06T17:00:00,ITA,3,Lombardia,45.466794,9.190347,5563,570,6133,111233,117366,9934,107463,18118,242947,1960088.0
5510,5510,2020-11-12T17:00:00,ITA,3,Lombardia,45.466794,9.190347,7047,782,7829,134964,142793,9291,132254,18910,293957,2086645.0
5678,5678,2020-11-20T17:00:00,ITA,3,Lombardia,45.466794,9.190347,8304,930,9234,150407,159641,9221,177832,20190,357663,2221955.0
5237,5237,2020-10-30T17:00:00,ITA,3,Lombardia,45.466794,9.190347,3698,370,4068,71161,75229,8960,94134,17462,186825,1807884.0
5258,5258,2020-10-31T17:00:00,ITA,3,Lombardia,45.466794,9.190347,4033,392,4425,77586,82011,8919,96198,17535,195744,1834360.0
5699,5699,2020-11-21T17:00:00,ITA,3,Lombardia,45.466794,9.190347,8314,936,9250,153435,162685,8853,183472,20359,366516,2236696.0
5363,5363,2020-11-05T17:00:00,ITA,3,Lombardia,45.466794,9.190347,5318,522,5840,106684,112524,8822,102502,17987,233013,1935518.0

In [65]:
covid_df.sort_values('Deaths', ascending=False).head(10)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
6014,6014,2020-12-06T17:00:00,ITA,3,Lombardia,45.466794,9.190347,6372,807,7179,109200,116379,2413,289706,23024,429109,2415099.0
5993,5993,2020-12-05T17:00:00,ITA,3,Lombardia,45.466794,9.190347,6554,805,7359,108397,115756,3148,288056,22884,426696,2407249.0
5972,5972,2020-12-04T17:00:00,ITA,3,Lombardia,45.466794,9.190347,6792,822,7614,109088,116702,4533,284073,22773,423548,2397885.0
5951,5951,2020-12-03T17:00:00,ITA,3,Lombardia,45.466794,9.190347,7025,836,7861,110470,118331,3751,278058,22626,419015,2383936.0
5930,5930,2020-12-02T17:00:00,ITA,3,Lombardia,45.466794,9.190347,7222,855,8077,110719,118796,3425,274189,22279,415264,2372367.0
5909,5909,2020-12-01T17:00:00,ITA,3,Lombardia,45.466794,9.190347,7342,876,8218,112815,121033,4048,268702,22104,411839,2361598.0
5888,5888,2020-11-30T17:00:00,ITA,3,Lombardia,45.466794,9.190347,7433,906,8339,117069,125408,1929,260528,21855,407791,2349286.0
5867,5867,2020-11-29T17:00:00,ITA,3,Lombardia,45.466794,9.190347,7400,907,8307,124320,132627,3203,251588,21647,405862,2343093.0
5846,5846,2020-11-28T17:00:00,ITA,3,Lombardia,45.466794,9.190347,7616,919,8535,121780,130315,4615,250832,21512,402659,2333345.0
5825,5825,2020-11-27T17:00:00,ITA,3,Lombardia,45.466794,9.190347,7869,925,8794,121761,130555,5389,246096,21393,398044,2319630.0

In [66]:
covid_df.sort_values('NewPositiveCases').head(10)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
2292,2292,2020-06-12T17:00:00,ITA,15,Campania,40.839566,14.250850,61,2,63,283,346,-229,3832,430,4608,115842.0
1115,1115,2020-04-17T17:00:00,ITA,18,Calabria,38.905976,16.594402,154,7,161,658,819,-18,99,73,991,NaN
133,133,2020-03-01T17:00:00,ITA,7,Liguria,44.411493,8.932699,12,1,13,8,21,-17,4,0,25,NaN
1534,1534,2020-05-07T17:00:00,ITA,17,Basilicata,40.639471,15.805148,48,2,50,105,155,-16,202,26,383,15780.0
307,307,2020-03-09T18:00:00,ITA,1,Piemonte,45.073274,7.680687,222,50,272,65,337,-10,0,13,350,NaN
1794,1794,2020-05-19T17:00:00,ITA,11,Marche,43.616760,13.518875,144,17,161,1967,2128,-3,3561,986,6675,56668.0
154,154,2020-03-02T18:00:00,ITA,7,Liguria,44.411493,8.932699,12,1,13,5,18,-3,4,0,22,NaN
163,163,2020-03-02T18:00:00,ITA,19,Sicilia,38.115697,13.362357,2,0,2,3,5,-2,2,0,7,NaN
1926,1926,2020-05-25T17:00:00,ITA,20,Sardegna,39.215312,9.110616,49,3,52,179,231,-2,994,129,1354,43924.0
1485,1485,2020-05-04T17:00:00,ITA,20,Sardegna,39.215312,9.110616,91,9,100,553,653,-2,545,119,1317,24926.0

In [67]:
covid_df.loc[169:175]

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
169,169,2020-03-03T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,1,1,1,0,0,1,NaN
170,170,2020-03-03T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,1,1,0,0,0,1,NaN
171,171,2020-03-03T18:00:00,ITA,15,Campania,40.839566,14.250850,11,0,11,19,30,13,0,0,30,NaN
172,172,2020-03-03T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,187,24,211,187,398,85,4,18,420,NaN
173,173,2020-03-03T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,1,0,1,12,13,4,0,0,13,NaN
174,174,2020-03-03T18:00:00,ITA,12,Lazio,41.892770,12.483667,10,0,10,1,11,7,3,0,14,NaN
175,175,2020-03-03T18:00:00,ITA,7,Liguria,44.411493,8.932699,12,2,14,5,19,2,4,1,24,NaN

In [68]:
covid_df.at[172, 'NewPositiveCases'] = (covid_df.at[171, 'NewPositiveCases'] + covid_df.at[173, 'NewPositiveCases'])/2

In [69]:
covid_df.Date

0       2020-02-24T18:00:00
1       2020-02-24T18:00:00
2       2020-02-24T18:00:00
3       2020-02-24T18:00:00
4       2020-02-24T18:00:00
               ...
6022    2020-12-06T17:00:00
6023    2020-12-06T17:00:00
6024    2020-12-06T17:00:00
6025    2020-12-06T17:00:00
6026    2020-12-06T17:00:00
Name: Date, Length: 6027, dtype: object

In [70]:
covid_df['Date'] = pd.to_datetime(covid_df.Date)

In [71]:
covid_df['Date']

0      2020-02-24 18:00:00
1      2020-02-24 18:00:00
2      2020-02-24 18:00:00
3      2020-02-24 18:00:00
4      2020-02-24 18:00:00
               ...
6022   2020-12-06 17:00:00
6023   2020-12-06 17:00:00
6024   2020-12-06 17:00:00
6025   2020-12-06 17:00:00
6026   2020-12-06 17:00:00
Name: Date, Length: 6027, dtype: datetime64[ns]

In [72]:
covid_df['year'] = pd.DatetimeIndex(covid_df.Date).year
covid_df['month'] = pd.DatetimeIndex(covid_df.Date).month
covid_df['day'] = pd.DatetimeIndex(covid_df.Date).day
covid_df['weekday'] = pd.DatetimeIndex(covid_df.Date).weekday

In [73]:
covid_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,...,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed,year,month,day,weekday
0,0,2020-02-24 18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,...,0,0,0,0,0,NaN,2020,2,24,0
1,1,2020-02-24 18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,...,0,0,0,0,0,NaN,2020,2,24,0
2,2,2020-02-24 18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,...,0,0,0,0,0,NaN,2020,2,24,0
3,3,2020-02-24 18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,...,0,0,0,0,0,NaN,2020,2,24,0
4,4,2020-02-24 18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,...,18,18,0,0,18,NaN,2020,2,24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06 17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,...,39746,1022,29984,1759,71489,692062.0,2020,12,6,6
6023,6023,2020-12-06 17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,...,29199,753,76331,2867,108397,983103.0,2020,12,6,6
6024,6024,2020-12-06 17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,...,6065,234,18619,460,25144,231538.0,2020,12,6,6
6025,6025,2020-12-06 17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,...,987,34,5406,333,6726,34644.0,2020,12,6,6
6026,6026,2020-12-06 17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,...,76804,3444,84235,4210,165249,1090932.0,2020,12,6,6

In [74]:
covid_df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed', 'year', 'month', 'day', 'weekday'],
      dtype='object')

In [75]:
# Query the rows for May
covid_df_may = covid_df[covid_df.month == 5]

# Extract the subset of columns to be aggregated
covid_df_may_metrics = covid_df_may[['NewPositiveCases', 'Deaths', 'TestsPerformed']]

# Get the column-wise sum
covid_may_totals = covid_df_may_metrics.sum()

In [76]:
covid_may_totals

NewPositiveCases       27556.0
Deaths                973585.0
TestsPerformed      58918148.0
dtype: float64

In [77]:
type(covid_may_totals)

pandas.core.series.Series

In [78]:
covid_df[covid_df.month == 5][['NewPositiveCases', 'Deaths', 'TestsPerformed']].sum()

NewPositiveCases       27556.0
Deaths                973585.0
TestsPerformed      58918148.0
dtype: float64

In [79]:
# Overall average
covid_df.NewPositiveCases.mean()

286.8730711796914

In [80]:
# Average for Sundays
covid_df[covid_df.weekday == 6].NewPositiveCases.mean()

291.56678281068525

In [81]:
covid_month_df = covid_df.groupby('month')[['NewPositiveCases', 'Deaths', 'TestsPerformed']].sum()

In [82]:
covid_month_df

       NewPositiveCases   Deaths  TestsPerformed
month
2                  1120       96             0.0
3                104587   116566             0.0
4                 99671   644171      13643342.0
5                 27556   973585      58918148.0
6                  7584  1028841      86135311.0
7                  7006  1084927     113693227.0
8                 21702  1095146     140356556.0
9                 45623  1069879     181469958.0
10               364607  1137835     250655965.0
11               922206  1385098     342444409.0
12               127322   349888      79797874.0

In [83]:
covid_month_mean_df = covid_df.groupby('month')[['NewPositiveCases', 'Deaths', 'TestsPerformed']].mean()

In [84]:
covid_month_mean_df

       NewPositiveCases       Deaths  TestsPerformed
month
2              8.888889     0.761905             NaN
3            160.655914   179.056836             NaN
4            158.207937  1022.493651    54140.246032
5             42.328725  1495.522273    90504.067588
6             12.038095  1633.080952   136722.715873
7             10.761905  1666.554531   174643.973886
8             33.336406  1682.251920   215601.468510
9             72.417460  1698.220635   288047.552381
10           560.072197  1747.826421   385032.204301
11          1463.819048  2198.568254   543562.553968
12          1010.492063  2776.888889   633316.460317

In [85]:
covid_df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed', 'year', 'month', 'day', 'weekday'],
      dtype='object')

In [86]:
covid_df['total_cases'] = covid_df.TestsPerformed.cumsum()

In [87]:
covid_df['total_deaths'] = covid_df.Deaths.cumsum()

In [88]:
covid_df['total_tests'] = covid_df.TestsPerformed.cumsum() + initial_tests

In [89]:
covid_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,...,Deaths,TotalPositiveCases,TestsPerformed,year,month,day,weekday,total_cases,total_deaths,total_tests
0,0,2020-02-24 18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,...,0,0,NaN,2020,2,24,0,NaN,0,NaN
1,1,2020-02-24 18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,...,0,0,NaN,2020,2,24,0,NaN,0,NaN
2,2,2020-02-24 18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,...,0,0,NaN,2020,2,24,0,NaN,0,NaN
3,3,2020-02-24 18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,...,0,0,NaN,2020,2,24,0,NaN,0,NaN
4,4,2020-02-24 18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,...,0,18,NaN,2020,2,24,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06 17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,...,1759,71489,692062.0,2020,12,6,6,1.264775e+09,8878162,1.265710e+09
6023,6023,2020-12-06 17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,...,2867,108397,983103.0,2020,12,6,6,1.265758e+09,8881029,1.266693e+09
6024,6024,2020-12-06 17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,...,460,25144,231538.0,2020,12,6,6,1.265989e+09,8881489,1.266925e+09
6025,6025,2020-12-06 17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,...,333,6726,34644.0,2020,12,6,6,1.266024e+09,8881822,1.266959e+09
6026,6026,2020-12-06 17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,...,4210,165249,1090932.0,2020,12,6,6,1.267115e+09,8886032,1.268050e+09

In [107]:
locations_df = pd.read_csv('locations.csv')

In [108]:
locations_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
211,International,NaN,NaN,NaN,NaN,NaN

In [109]:
locations_df[locations_df.location == "Italy"]

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
97,Italy,Europe,60461828.0,83.51,3.18,35220.084

In [110]:
covid_df.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed', 'year', 'month', 'day', 'weekday', 'total_cases',
       'total_deaths', 'total_tests', 'location'],
      dtype='object')

In [111]:
covid_df['location'] = "Italy"

In [112]:
covid_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,...,TotalPositiveCases,TestsPerformed,year,month,day,weekday,total_cases,total_deaths,total_tests,location
0,0,2020-02-24 18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,...,0,NaN,2020,2,24,0,NaN,0,NaN,Italy
1,1,2020-02-24 18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,...,0,NaN,2020,2,24,0,NaN,0,NaN,Italy
2,2,2020-02-24 18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,...,0,NaN,2020,2,24,0,NaN,0,NaN,Italy
3,3,2020-02-24 18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,...,0,NaN,2020,2,24,0,NaN,0,NaN,Italy
4,4,2020-02-24 18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,...,18,NaN,2020,2,24,0,NaN,0,NaN,Italy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06 17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,...,71489,692062.0,2020,12,6,6,1.264775e+09,8878162,1.265710e+09,Italy
6023,6023,2020-12-06 17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,...,108397,983103.0,2020,12,6,6,1.265758e+09,8881029,1.266693e+09,Italy
6024,6024,2020-12-06 17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,...,25144,231538.0,2020,12,6,6,1.265989e+09,8881489,1.266925e+09,Italy
6025,6025,2020-12-06 17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,...,6726,34644.0,2020,12,6,6,1.266024e+09,8881822,1.266959e+09,Italy
6026,6026,2020-12-06 17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,...,165249,1090932.0,2020,12,6,6,1.267115e+09,8886032,1.268050e+09,Italy

In [113]:
merged_df = covid_df.merge(locations_df, on="location")

In [114]:
merged_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,...,weekday,total_cases,total_deaths,total_tests,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,0,2020-02-24 18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,...,0,NaN,0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
1,1,2020-02-24 18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,...,0,NaN,0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
2,2,2020-02-24 18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,...,0,NaN,0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
3,3,2020-02-24 18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,...,0,NaN,0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
4,4,2020-02-24 18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,...,0,NaN,0,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06 17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,...,6,1.264775e+09,8878162,1.265710e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084
6023,6023,2020-12-06 17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,...,6,1.265758e+09,8881029,1.266693e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084
6024,6024,2020-12-06 17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,...,6,1.265989e+09,8881489,1.266925e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084
6025,6025,2020-12-06 17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,...,6,1.266024e+09,8881822,1.266959e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084
6026,6026,2020-12-06 17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,...,6,1.267115e+09,8886032,1.268050e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084

In [115]:
merged_df['cases_per_million'] = merged_df.total_cases * 1e6 / merged_df.population

In [116]:
merged_df['deaths_per_million'] = merged_df.total_deaths * 1e6 / merged_df.population

In [117]:
merged_df['tests_per_million'] = merged_df.total_tests * 1e6 / merged_df.population

In [118]:
merged_df

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,...,total_tests,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,cases_per_million,deaths_per_million,tests_per_million
0,0,2020-02-24 18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,...,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,NaN,0.000000,NaN
1,1,2020-02-24 18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,...,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,NaN,0.000000,NaN
2,2,2020-02-24 18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,...,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,NaN,0.000000,NaN
3,3,2020-02-24 18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,...,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,NaN,0.000000,NaN
4,4,2020-02-24 18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,...,NaN,Italy,Europe,60461828.0,83.51,3.18,35220.084,NaN,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,6022,2020-12-06 17:00:00,ITA,19,Sicilia,38.115697,13.362357,1367,213,1580,...,1.265710e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084,2.091856e+07,146839.126333,2.093403e+07
6023,6023,2020-12-06 17:00:00,ITA,9,Toscana,43.769231,11.255889,1360,252,1612,...,1.266693e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084,2.093482e+07,146886.544681,2.095029e+07
6024,6024,2020-12-06 17:00:00,ITA,10,Umbria,43.106758,12.388247,332,60,392,...,1.266925e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084,2.093865e+07,146894.152787,2.095412e+07
6025,6025,2020-12-06 17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,102,8,110,...,1.266959e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084,2.093923e+07,146899.660394,2.095470e+07
6026,6026,2020-12-06 17:00:00,ITA,5,Veneto,45.434905,12.338452,2508,308,2816,...,1.268050e+09,Italy,Europe,60461828.0,83.51,3.18,35220.084,2.095727e+07,146969.291104,2.097274e+07