Here we will using the Indian Liver Dataset as our reference. So we will display all the most commonly used methods of 
analysis from pandas library

In [2]:
import pandas as pd
import statistics as stats
import numpy as np

In [4]:
liver_data=pd.read_csv('Indian Liver Patient Dataset.csv')
print(liver_data)
df=liver_data.copy()

     Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB    AG  LiverPatient
0     65  Female   0.7  0.1      187    16    18  6.8  3.3  0.90             1
1     62    Male  10.9  5.5      699    64   100  7.5  3.2  0.74             1
2     62    Male   7.3  4.1      490    60    68  7.0  3.3  0.89             1
3     58    Male   1.0  0.4      182    14    20  6.8  3.4  1.00             1
4     72    Male   3.9  2.0      195    27    59  7.3  2.4  0.40             1
..   ...     ...   ...  ...      ...   ...   ...  ...  ...   ...           ...
578   60    Male   0.5  0.1      500    20    34  5.9  1.6  0.37             2
579   40    Male   0.6  0.1       98    35    31  6.0  3.2  1.10             1
580   52    Male   0.8  0.2      245    48    49  6.4  3.2  1.00             1
581   31    Male   1.3  0.5      184    29    32  6.8  3.4  1.00             1
582   38    Male   1.0  0.3      216    21    24  7.3  4.4  1.50             2

[583 rows x 11 columns]

Exploratory Data Analysis :

In [6]:
alkphos_mode=df['Alkphos'].mode()
print(alkphos_mode)

0    198
1    215
2    298
dtype: int64

In [8]:
alkphos_mean=df['Alkphos'].mean()
print(alkphos_mean)

290.57632933104634

5 Point Summary

In [17]:
five_point_summary=df.describe()
print(five_point_summary)

              Age          TB          DB      Alkphos         Sgpt  \
count  583.000000  583.000000  583.000000   583.000000   583.000000
mean    44.746141    3.298799    1.486106   290.576329    80.713551
std     16.189833    6.209522    2.808498   242.937989   182.620356
min      4.000000    0.400000    0.100000    63.000000    10.000000
25%     33.000000    0.800000    0.200000   175.500000    23.000000
50%     45.000000    1.000000    0.300000   208.000000    35.000000
75%     58.000000    2.600000    1.300000   298.000000    60.500000
max     90.000000   75.000000   19.700000  2110.000000  2000.000000

              Sgot          TP         ALB          AG  LiverPatient
count   583.000000  583.000000  583.000000  579.000000    583.000000
mean    109.910806    6.483190    3.141852    0.947064      1.286449
std     288.918529    1.085451    0.795519    0.319592      0.452490
min      10.000000    2.700000    0.900000    0.300000      1.000000
25%      25.000000    5.800000    2.600000    0.700000      1.000000
50%      42.000000    6.600000    3.100000    0.930000      1.000000
75%      87.000000    7.200000    3.800000    1.100000      2.000000
max    4929.000000    9.600000    5.500000    2.800000      2.000000

In [18]:
df['Alkphos'].describe()

count     583.000000
mean      290.576329
std       242.937989
min        63.000000
25%       175.500000
50%       208.000000
75%       298.000000
max      2110.000000
Name: Alkphos, dtype: float64